body{
    color: rgb(230, 237, 243);
    font-family: Jason;
    padding-left: 2em;
    background-color:rgb(13, 17, 23)}

    .navbar a {
        text-decoration: none;
        color: rgb(13, 17, 23);
        font-size: 30;
        background:rgb(230, 237, 243);
        padding: 2px;
        margin: 80px;
        right: 3;
    }
    .weitere_links a{
        color: rgb(13, 17, 23);
    }

    address {
        margin-top: 1em;
        padding-top: 1em;
        border-top: thin dotted
    }
