    body{
    color: rgb(230, 237, 243);
    font-family: Jason;
    padding-left: 20px;
    background-color:rgb(13, 17, 23);
    overflow: hidden;
    }

    .navbar {
        display: flex;
        width: 100vw;
        height: 50px;
        justify-content: flex-start;
        background-color: rgb(1, 4, 9);
        margin: -8px 0px 0px -40px;
        padding-top: 10px;
    }
    
    .item a {
        display: inline-flex; 
        text-decoration: none;
        background-color: rgb(1, 4, 9);
        color: rgb(230, 237, 243);
        font-size: 30px; 
        margin-top: -8px;
        padding: 12px 83px;
        transition: background-color 0.01s ease;
    }
    
    .item a:hover {
        background-color: rgb(22, 27, 34);
    }
    
